.sorting {
    display: flex;
    flex-direction: column;
}

.visual {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: rotate(180deg);
    transform: scaleY(-1);
}

.array-bar {
    display: flex;
    margin: 1px;
    width: 10px;
    background: #00ffff;
    height: 10px;
}

.death-div {
    display: none;
    zoom: 2;
    border-radius: 5px;
    margin-top: 200px;
    margin-left: auto;
    position: absolute;
}

#death{
    align-items: center;
    justify-content: center;
    margin-left: 500px;
}

#close {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: white;
  color: #000;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

#close:hover{
    cursor: pointer;
}